.chats-body {
	padding: 0;
  margin: 0;
}

.chats-body .header {
	padding: 30px 20px;
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5)
}

.chats-body .header__header-column{
  opacity: 1;
}

.chats__chat.chat{
  padding: 10px 20px;
}

.chats__chat:hover{
  background-color: #efefef
}

.chats-imgs{
  width: 60px;
  height: 60px;
  margin-right: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.chat-screen {
	padding-top: 95px;
	background-image: url("../img/chat-bg.png");
	min-height: 90vh;
}

.chat__write-box {
	position: fixed;
	bottom: 0;
	width: 100%;
	transition: height 1s ease-in-out;
}

.chat__write {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fcfcfc;
	padding: 0 20px;
}

.chat__write i {
	font-size: 22px;
	margin-right: 20px;
	color: rgb(110, 110, 110);
}

.chat__write-column {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.chat__write-column input {
	padding: 15px 10px;
	margin: 5px 0;
	width: 100%;
	font-size: 14px;
	border: 1px solid lightgray;
	border-radius: 25px;
	background-color: rgb(240, 240, 240);
}

.chat__write-column input:focus {
	outline: none;
}

.chat__write-column .chat__write-icons {
	position: absolute;
	right: 10px;
}

.chat-screen .chat__messages {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 1pxsolid #f7f7f7;
	padding: 0 20px;
	padding-top: 30px;
}

.chat__messages .chat__timestamp {
	background-color: whitesmoke;
	font-size: 12px;
	padding: 5px 10px;
	border-radius: 10px;
	margin-bottom: 30px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
		rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
	text-transform: uppercase;
	font-weight: 700;
}

.message {
	display: flex;
	align-items: center;
	width: auto;
	margin-bottom: 15px;
}

.message .message__content {
	width: auto;
}

.incoming-message {
	align-self: flex-start;
  transform: translateX(-200%);
}

.incoming-message.chain{
  margin-left: 55px;
}

.sent-message {
	align-self: flex-end;
  transform: translateX(200%);
}

.incoming-message img {
	width: 40px;
  height: 40px;
	border-radius: 15px;
	margin-right: 15px;
}

.message .message__bubble {
	padding: 10px 20px;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 12px -8px,
		rgba(0, 0, 0, 0.024) 0px -4px 16px -6px;
	font-weight: 600;
}

.incoming-message .message__author {
	margin-bottom: 10px;
	display: block;
	font-weight: 600;
	font-size: 14px;
}

.incoming-message .message__bubble {
	border-top-left-radius: 0px;
	background-color: white;
}

.sent-message .message__bubble {
	border-top-right-radius: 0px;
	background-color: rgb(255, 238, 0);
}

.message__timestamp {
	margin: 5px;
	opacity: 0.5;
	font-size: 12px;
	align-self: flex-end;
}

.chat__messages li:nth-child(2) {
	animation: incomingAnim 0.8s ease-in-out forwards 0.5s;
}

.chat__messages li:nth-child(3) {
	animation: sentAnim 0.8s ease-in-out forwards 1.3s;
}

.chat__messages li:nth-child(4) {
	animation: incomingAnim 0.8s ease-in-out forwards 2s;
}

.chat__messages li:nth-child(5) {
	animation: incomingAnim 0.8s ease-in-out forwards 2.4s;
}

.chat__messages li:nth-child(6) {
	animation: sentAnim 0.8s ease-in-out forwards 3.2s;
}

.chat__messages li:nth-child(7) {
	animation: incomingAnim 0.8s ease-in-out forwards 4s;
}

.chat__messages li:nth-child(8) {
	animation: sentAnim 0.8s ease-in-out forwards 4.4s;
}

.we.chat__messages li:nth-child(2){
	animation: incomingAnim 0.8s ease-in-out forwards 0.5s;
}

.we.chat__messages li:nth-child(3){
	animation: incomingAnim 0.8s ease-in-out forwards 1s;
}

.we.chat__messages li:nth-child(4){
	animation: incomingAnim 0.8s ease-in-out forwards 1.4s;
}

.we.chat__messages li:nth-child(5) {
	animation: sentAnim 0.8s ease-in-out forwards 2.4s;
}

.we.chat__messages li:nth-child(6){
	animation: incomingAnim 0.8s ease-in-out forwards 3s;
}

.we.chat__messages li:nth-child(7){
	animation: incomingAnim 0.8s ease-in-out forwards 3.8s;
}

.we.chat__messages li:nth-child(8){
	animation: incomingAnim 0.8s ease-in-out forwards 4.4s;
}

.we.chat__messages li:nth-child(9) {
	animation: sentAnim 0.8s ease-in-out forwards 5s;
}

.we.chat__messages li:nth-child(10){
	animation: incomingAnim 0.8s ease-in-out forwards 6s;
}


@keyframes incomingAnim {
	from {
		transform: translateX(-200%);
	}
	to {
		transform: none;
	}
}

@keyframes sentAnim {
	from {
		opacity: 0;
		transform: translateX(200%);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

.chat__write-box:focus-within .keyboard {
	height: 300px;
}
