.friends .friends__plus {
	margin: 20px 0;
	padding: 20px 0;
	border-width: 1px 0;
	border-style: solid;
	border-color: #f7f7f7;
}

.friends__plus .friends__title,
.friends__list .friends__title {
	font-size: 14px;
	opacity: 0.6;
	margin-bottom: 10px;
}

.friends__friend {
	margin-bottom: 15px;
}
