.friends .friends__plus {
	margin: 20px 0;
	padding: 20px 0;
	border-width: 1px 0;
	border-style: solid;
	border-color: #f7f7f7;
}

.friends__column {
  display: flex;
  justify-content: space-between;
	font-size: 14px;
	opacity: 0.6;
	margin: 5px 20px;
}

.friends__icon{
  color: gray;
}

.friends__friend.friend{
  padding: 10px 20px;
}

.friends__friend.friend:hover{
  background-color: #efefef;
}