@media (max-width: 700px) {
	.mobile .side-nav {
		transform: translateX(-100%);
	}

	.mobile .header__bigScreen {
		display: none;
	}

	.mobile {
		margin-left: 0;
		transition: margin-left 1s ease-in-out;
	}

  .weather.big{
    display: none;
  }
}

@media (min-width: 700px) {
	.mobile .side-nav {
		transform: none;
		transition: transform 1s ease-in-out;
	}

	.mobile .nav {
		animation: none;
	}

	.mobile .header__smallScreen {
		display: none;
	}

  .weather.big{
    display: flex;
  }
}
