.bigScreen {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fce006;
	font-size: 28px;
	font-weight: 600;
	color: white;
	text-align: center;
	line-height: 1.5;
	padding: 0 20px;
	display: none;
	z-index: 3;
}

@media (max-width: 600px) {
	.side-nav {
		transform: translateX(-100%);
	}
	.header__bigScreen {
		display: none;
	}
	.screen .main-screen {
		margin-left: 0;
		transition: margin-left 1s ease-in-out;
	}
}

@media (min-width: 600px) {
	.screen .side-nav {
		transform: none;
		transition: transform 1s ease-in-out;
	}

	.nav {
		animation: none;
	}

	.header__smallScreen {
		display: none;
	}
}
