.more {
	padding: 0 20px;
}

.more .more__btn-list {
	margin: 30px 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.more__btn-list .more__btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 120px;
}

.more__btn-icon i {
	font-size: 30px;
}

.more__btn .more__btn-title {
	font-size: 14px;
	margin-top: 15px;
}

.more .more__title {
	opacity: 0.8;
	margin-bottom: 20px;
}

.more__pay-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: rgb(240, 240, 240);
	border: 1px solid #f7f7f7;
	border-radius: 5px;
	padding: 10px;
	margin-top: 20px;
}

.pay__column.left {
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 18px;
	padding: 10px;
}

.pay-title {
	font-weight: 700;
	margin: 0 3px;
}

.pay__column.right span:nth-child(n + 2)::before {
	content: '';
	background-color: lightgray;
	width: 1px;
	height: 12px;
	margin: 0 8px 0 6px;
	display: inline-block;
}

.my {
	padding: 10px 15px;
	border: 1px solid lightgray;
	border-radius: 18px;
}
