.search-bar {
	position: relative;
	margin: 0 20px 30px 20px;
}

.search-input {
	width: 100%;
	border: 1px solid rgb(238, 238, 238);
	border-radius: 25px;
	background-color: rgb(240, 240, 240);
	padding: 10px 40px;
}

.search-icon {
	position: absolute;
	top: 10px;
	left: 10px;
	color: gray;
}

.search-input:focus {
	outline: none;
}
