.settings {
	border-bottom: 1px solid #f7f7f7;
	padding-top: 30px;
}

.settings .settings__section {
	border-top: 1px solid #f7f7f7;
	padding: 30px;
}

.settings__setting .settings__icon {
	font-size: 20px;
  width: 50px;
  display: block;
}

.settings__setting .settings__title {
	font-size: 22px;
	font-weight: 300;
}

.settings .settings__setting {
	margin-bottom: 30px;
  display: flex;
}

.settings .settings__setting:last-child {
	margin-bottom: 0;
}

.settings__section .bottom {
	margin-bottom: 50px;
}

.settings__header.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
