.side-nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 80px;
	background-color: rgb(240, 240, 240);
	padding: 80px 20px 50px 20px;
	left: 0;
	top: 0;
	border-right: 1px solid #f7f7f7;
	transform: translateX(-100%);
}

.side-nav__list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 22px;
}

.side-nav__list.top {
	color: gray;
  height: 30%;
}

.side-nav__list.bottom{
  height: 20%;
}

.bottom .nav__list-item{
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list-item.select {
	color: rgb(39, 39, 39);
}

.side-nav__list .nav__badge {
	top: -2px;
	right: -6px;
}

.top .nav__list-item:hover{
  color: rgb(160, 160, 160);
}

.nav__list-item.select:hover{
	color: rgb(50, 50, 50);
}

.bottom .nav__list-item:hover{
  background-color: rgb(218, 218, 218);
  border-radius: 50%;
}
