.status-bar {
	position: sticky;
	width: 100%;
	padding: 10px 7px;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	color: #656565;
  background-color: rgba(255, 255, 255, 0.5);
	z-index: 1;
}

.status-bar i {
	font-size: 14px;
	margin-left: 3px;
}

.status-bar .status-bar__battery-level {
	margin-left: 5px;
}
